.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  background-color: white;
}

.order-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.order-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.order-item img {
  width: 100px;
  height: auto;
  background-color: #2e778d;
  border-radius: 5px;
}

.order-info {
  display: flex;
  flex-direction: column;
}

.order-info h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.order-info p {
  margin: 5px 0;
  font-size: 14px;
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order-summary p {
  margin: 5px 0;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #3e6e8c;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e4e6c;
}
