@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: #0e4a62;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.posisi {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  background-color: #0e4a62;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header img {
  width: 70px;
  height: auto;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

header .search-bar {
  display: flex;
  align-items: center;
}

header .search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  font-size: 14px;
}

header .search-bar img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #74a9c3;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.container #flip:checked ~ .forms .login-form {
  pointer-events: none;
}

.container .cover .front,
.container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text-login {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .cover .text-login::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: white;
}

.cover .text-login .text-1,
.cover .text-login .text-2 {
  z-index: 20;
  font-size: 26px;
  color: #3B82F6;
  text-align: center;
}

.cover .text-login .text-1 {
  padding-top: 30px;
}

.back .text-login .text-1 {
  padding-top: 150px;
}

.cover .text-login .text-2 {
  font-size: 15px;
}

.container .forms {
  height: 100%;
  width: 100%;
  background: #74a9c3;
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.forms .form-content .form-header .title {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 10px;
}

.forms .form-content .form-header .title.active {
  color: #3B82F6;
  border-bottom: 2px solid #3B82F6;
}

.forms .form-content .title {
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 20px;
  background: #3B82F6;
  transform: translateX(-50%);
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  margin: 10px 0;
  padding: 12px 20px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.7);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  box-shadow: 0 6px 12px rgba(255, 215, 0, 0.9);
  border-color: #ffd700;
}

.form-content .input-box input::placeholder {
  color: #808080;
}

.form-content .input-box i {
  position: absolute;
  color: #3B82F6;
  font-size: 17px;
}

.forms .form-content .text-login {
  font-size: 14px;
  color: #333;
}

.forms .form-content .text-login a {
  text-decoration: underline;
  text-decoration-color: #ffd700;
  text-decoration-thickness: 2px;
}

.forms .form-content .text-login a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input {
  padding: 12px;
  background-color: #FFD233;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s ease;
}

.forms .form-content label {
  color: #fff;
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
  text-decoration-color: #ffd700;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container #flip {
  display: none;
}

.forms .form-content .sign-up-title {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.signup-form .register-form {
  width: 100%;
  background: #74a9c3;
  padding: 40px 30px;
}

.signup-form .input-boxes {
  margin-top: 30px;
}

.signup-form .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.signup-form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  margin: 10px 0;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.7);
  transition: box-shadow 0.3s ease;
}

.signup-form .input-box input:focus,
.signup-form .input-box input:valid {
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.7);
}

.signup-form .input-box input::placeholder {
  color: #808080;
}

.signup-form .input-box i {
  position: absolute;
  color: #3B82F6;
  font-size: 17px;
}

.signup-form .button input {
  padding: 12px;
  background-color: #ffd700;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s ease;
}

.signup-form .text-login {
  font-size: 14px;
  color: #333;
  text-align: center;
}

.signup-form .text-login a {
  text-decoration: none;
}

.signup-form .text-login a:hover {
  text-decoration: none;
}

.signup-form .text-login .sign-up-text {
  font-size: 14px;
  color: #333;
}
