@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
  background-color: var(--base-clr);
  color: var(--text-clr);
  background-image: linear-gradient(135deg, rgb(143, 184, 201), rgb(54, 127, 147), rgb(6, 68, 83));
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-x: hidden;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.image-navbar {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.content {
  padding: 20px;
  background-color: #FFFFFF;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.order-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.order-item img {
  background-color: #2e778d;
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.order-info {
  display: flex;
  flex-direction: column;
}

.order-info p {
  margin: 5px 0;
  color: #333;
}

.order-details {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3e6e8c;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e4e6c;
}

.footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #2e778d;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
