.content {
  padding: 20px;
  background-color: #FFFFFF;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.order-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.order-item img {
  background-color: #2e778d;
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.order-info {
  display: flex;
  flex-direction: column;
}

.order-info p {
  margin: 5px 0;
  color: #333;
}

.order-details {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3e6e8c;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e4e6c;
}

.footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #2e778d;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
